---
/**
 * Components
 */
import Layout from "@/layouts/Layout.astro";
import UseCasesHero from "@/components/HeroSection/use-case";
import VulnerabilityIntelligence from "@/components/UseCase/vulnerability";
import AgileWorkflows from "@/components/UseCase/agile-workflows";
import AIRemediation from "@/components/UseCase/ai-remediation";
import CrossFunctionalCollaboration from "@/components/UseCase/cross-functionability";
import ComplianceAutomation from "@/components/UseCase/compliance";
import RuntimeThreatDetection from "@/components/UseCase/runtime";
import FeaturesSection from "@/components/UseCase/features";
import DevSecOpsPipeline from "@/components/UseCase/pipeline";
import UseCaseCTASection from "@/components/UseCase/cta";

/**
 * Utils
 */
import { getLangFromUrl, useTranslations, generateLocalizedPaths } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export async function getStaticPaths() {
  const paths = await generateLocalizedPaths();
  return paths;
}

/**
 * Variables
 */
---


<Layout>
  <UseCasesHero client:load lang={lang} />
  <div class="space-y-20 py-20">
    <FeaturesSection client:load lang={lang}/>
    <DevSecOpsPipeline client:load lang={lang}/>
    <VulnerabilityIntelligence client:load lang={lang}/>
    <AgileWorkflows client:load lang={lang}/>
    <AIRemediation client:load lang={lang}/>
    <CrossFunctionalCollaboration client:load lang={lang}/>
    <ComplianceAutomation client:load lang={lang}/>
    <RuntimeThreatDetection client:load lang={lang}/>
  </div>
  <UseCaseCTASection client:load />
</Layout>
