---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ComparisonCtaSection from "@/components/Comparison/cta-section";
import ComparisonFeature from "@/components/Comparison/feature";
import ComparisonGlance from "@/components/Comparison/glance";
import ComparisonTable from "@/components/Comparison/table";
import HeroSectionCompetitor from "@/components/HeroSection/competitor";
import Layout from "@/layouts/Layout.astro";

import type { Competitor } from "@/types/competitor";

export function getStaticPaths() {
  return [
    { params: { competitor: "armorcode" } },
    { params: { competitor: "apiiro" } },
    { params: { competitor: "legit-security" } },
  ];
}

/**
 * Astro Props
 */
const { competitor } = Astro.params;

/**
 * Utils
 */
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

/**
 * Inline Middleware
 */
const competitors = t("competitor.list") as Competitor[];
if (!competitors.find((c) => c.id === competitor)) {
  return Astro.redirect("/404");
}

/**
 * Variables
 */
const currentCompetitor = competitors.find((c) => c.id === competitor);
const features = (t("competitor.detail.feature.data") as {
  name: string;
  plexicus: boolean;
  competitor: boolean | string[];
  description: string;
}[]).map((feature) => ({
  ...feature,
  competitor: Array.isArray(feature.competitor) ? feature.competitor.includes(currentCompetitor.id) : feature.competitor,
}));

/**
 * Page title
 */
const title = t("competitor.detail.title", { name: currentCompetitor.name }) as string;
---

<Layout title={title}>
  <main>
    <!-- Hero Section -->
    <HeroSectionCompetitor lang={lang} type="detail" competitor={competitor} />
    <!-- At a Glance Section -->
    <ComparisonGlance competitor={currentCompetitor} lang={lang} client:load />
    <!-- Feature Comparison Table -->
    <ComparisonTable competitor={currentCompetitor} features={features} lang={lang} client:load />
    <!-- Why Choose Plexicus -->
    <ComparisonFeature lang={lang} client:load />
    <!-- CTA Section -->
    <ComparisonCtaSection 
      title={t("competitor.detail.cta.title")} 
      description={t("competitor.detail.cta.subtitle")} 
      buttonText={t("competitor.detail.cta.buttonText")} 
      buttonLink={t("competitor.detail.cta.buttonLink")}
      client:load
    />
  </main>
</Layout>
